body{
    margin: 0;
    padding: 0;
}
.nav-wrap {
    display: flex;
    justify-content: space-between;
    background: #79945b;
    height: 70px;

}

.nav-wrap > a {
    text-decoration: none;
    font-size: 50px;
    color: antiquewhite;
}

.nav-wrap a[class='active'] {
    color: #98ded7;
}
.wrapper{
    background-color: red;
}